# include<stdio.h>
# include<time.h>
# include<stdlib.h>

int main(){
    int num, guess, nguess = 0;
    printf("                                        **** GUESS THE NUMBER****\n");
    srand(time(0));
    num = rand()%100 +1;

    do
    {
        printf("Guess the number between 0 to 100 --> ");
        scanf("%d", &guess);
        if(guess > num){
            printf("Lower the number... \n");
        } else if(guess < num){
            printf("Higer the number...\n");
        } else {
            printf("DING IT... You guess it right in %d attempts...", nguess);
        }
        nguess++;
    } while (guess != num);
    return 0;
}
